.blockedLabel {
    display: flex;
    justify-content: space-between;

    align-items: center;

    padding: 5px;
    margin: 5px;
}

.centeredInput {
    text-align: center !important;
    margin-left: 5px !important;
}

.full-center {
    width: -webkit-fill-available;
    text-align: center
}