.blockedLabel {
    display: flex;
    justify-content: space-between;

    align-items: center;

    padding: 5px;
    margin: 5px;
}

.centeredInput {
    text-align: center !important;
    margin-left: 5px !important;
}

.full-center {
    width: -webkit-fill-available;
    text-align: center
}

.openable:hover, .openable:focus {
    color: #000;
    text-shadow: 0 0 10px gray;
    cursor: pointer;
}

.float-right-icon {
    float: right;
    margin: 5px 2px 0 0;
}

li.disable_effect {
    color: #999;
    background-color: rgba(0,0,0,0.2);
    font-weight: bold;
}

h4.disable_effect {
    color: #999;
    font-weight: bold;
}

