<ol class="items-list effects-list">
  <li class="flexrow items-header">
    <div class="item-name">{{localize 'arranFoundry.ui.effects'}}</div>
    <div class="effect-controls">
      <a class="effect-control" title="{{arranFoundry.ui.add_effect}}" data-action="create"><i class="fas fa-plus"></i> {{localize 'arranFoundry.ui.add_effect'}}</a>
    </div>
  </li>

  <ol class="item-list">
    {{#each effects as |effect|}}
    <li class="item effect flexrow {{#if effect.disabled}}disable_effect{{/if}}" data-effect-id="{{effect._id}}">
      <div class="item-name effect-name flexrow">
        <img class="item-image" src="{{effect.icon}}"/>
        <h4 class="{{#if effect.disabled}}disable_effect{{/if}}">{{effect.name}}</h4>
      </div>
      <div class="item-controls effect-controls flexrow">
        <a class="effect-control" data-action="toggle" data-effect_id="{{effect._id}}" title="{{localize 'arranFoundry.ui.toggle_effect'}}">
          <i class="fas {{#if effect.disabled}}fa-check{{else}}fa-times{{/if}}"></i>
        </a>
        <a class="effect-control" data-action="edit" data-effect_id="{{effect._id}}" title="{{localize 'arranFoundry.ui.modify_effect'}}">
          <i class="fas fa-edit"></i>
        </a>
        <a class="effect-control" data-action="delete" data-effect_id="{{effect._id}}" title="{{localize 'arranFoundry.ui.delete_effect'}}">
          <i class="fas fa-trash"></i>
        </a>
      </div>
    </li>
    {{/each}}
  </ol>
</ol>
