<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <div class="header-fields">
      <div style="display: flex; justify-content: space-evenly">
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
        <div>
          <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="{{localize 'arranFoundry.name'}}"/></h1>
          <div class="grid grid-4col">
            <input class="flexcol centeredInput" name="system.class" type="text" value="{{system.class}}"
                   placeholder="{{localize 'arranFoundry.class_name'}}">
            <select class="flexcol" name="system.race">
              {{#each race}}
              {{#if (eq @key ../system.race)}}
              <option value="{{@key}}" selected="selected">{{localize this}}</option>
              {{else}}
              <option value="{{@key}}">{{localize this}}</option>
              {{/if}}
              {{/each}}
            </select>
            <select class="flexcol" name="system.culture">
              {{#each actorCulture as |translation key|}}
              {{#if (eq key ../system.culture)}}
              <option value="{{key}}" selected="selected">{{localize translation}}</option>
              {{else}}
              <option value="{{key}}">{{localize translation}}</option>
              {{/if}}
              {{/each}}
            </select>
            <input style="width: auto" class="flexcol centeredInput" type="number" name="system.level" value="{{system.level}}">
          </div>
        </div>
      </div>
    </div>

  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" style="flex: 0" data-group="primary">
    {{!-- Default tab is specified in actor-sheet.mjs --}}
    <a class="item" data-tab="general">{{localize 'arranFoundry.ui.general_tab'}}</a>
    <a class="item" data-tab="description">Description</a>
    <a class="item" data-tab="paths">{{localize 'arranFoundry.paths'}}</a>
    <a class="item" data-tab="equipment">{{localize 'arranFoundry.ui.equipment_tab'}}</a>
    <a class="item" data-tab="spells">Spells</a>
    <a class="item" data-tab="effects">{{localize 'arranFoundry.ui.effects'}}</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body" >
    <div class="tab general" data-group="primary" data-tab="general">
      {{!-- Upper Tab --}}
      {{!-- General Information --}}
      <div class="grid grid-2col">
        <div class="resources flexcol flex-group-left">
          <h2 class="full-center">{{localize 'arranFoundry.ui.resources'}}</h2>

          {{!-- "flex-group-center" is also defined in the _grid.scss file
          and it will add a small amount of padding, a border, and will
          center all of its child elements content and text. --}}
          <div class="resource flex-group-center">
            <label class="resource-label">{{localize 'arranFoundry.hp'}}</label>
            <div class="resource-content flexrow flex-center flex-between">
              <input type="text" name="system.hp.value" value="{{system.hp.value}}" data-dtype="Number"/>
              <span> / </span>
              <input type="text" name="system.hp.max" value="{{system.hp.max}}" data-dtype="Number"/>
            </div>
          </div>

          <div class="resource flex-group-center">
            <label class="resource-label">{{localize 'arranFoundry.mp'}}</label>
            <div class="resource-content flexrow flex-center flex-between">
              <input type="text" name="system.mp.value" value="{{system.mp.value}}" data-dtype="Number"/>
              <span> / </span>
              <input type="text" name="system.mp.max" value="{{system.mp.max}}" data-dtype="Number"/>
            </div>
          </div>

          <div class="resource flex-group-center">
            <label class="resource-label">{{localize 'arranFoundry.lp'}}</label>
            <div class="resource-content flexrow flex-center flex-between">
              <input type="text" name="system.lp.value" value="{{system.lp.value}}" data-dtype="Number"/>
              <span> / </span>
              <input type="text" name="system.lp.max" value="{{system.lp.max}}" data-dtype="Number"/>
            </div>
          </div>

          <div class="resource flex-group-center">
            <label id="rp" class="resource-label rollable" data-roll="@system.hd@attributes.dexterity.mod+@level"
                   data-label="recuperation">{{localize 'arranFoundry.rp'}}</label>
            <div class="resource-content flexrow flex-center flex-between">
              <input type="text" name="system.rp.value" value="{{system.rp.value}}" data-dtype="Number"/>
              <span> / </span>
              <input type="text" name="system.rp.max" value="{{system.rp.max}}" data-dtype="Number"/>
            </div>
          </div>

        </div>
        <div id="attribute" class="flex-group-right">
          <h2 style="text-align: center">{{localize 'arranFoundry.ui.attributes'}}</h2>

          <div class="attribute flexcol">
            {{#each system.attributes as |attribute|}}
            <div class="attribute flexrow flex-group-center">
              <label class="resource-label rollable flexlarge align-center" data-roll="d20+@attributes.{{@key}}.mod"
                     data-label="{{@key}}">{{localize (concat 'arranFoundry.attributes.' @key)}}</label>
              <input type="text" name="system.attributes.{{@key}}.value" value="{{attribute.value}}"
                     data-dtype="Number"/>
              <input type="text" name="system.attributes.{{@key}}.custom" value="{{attribute.custom}}"
                     data-dtype="Number"/>
              <span class="ability-mod rollable" data-roll="d20+@attributes.{{@key}}.mod" data-label="{{@key}}">{{numberFormat attribute.mod decimals=0 sign=true}}</span>
            </div>
            {{/each}}
          </div>
        </div>

      </div>

      {{!-- Lower Tab --}}
      {{!-- General Rolls --}}
      <div>
        <section class="grid grid-2col">
          <div class="">
            <div>
              <h2 class="align-center">{{localize 'arranFoundry.ui.attacks'}}</h2>
              <div class="flexcol">
                <div class="flexrow flex-group-center">
                  <label class="rollable flexlarge align-left"> {{localize 'arranFoundry.melee_attack'}}</label>
                  <input type="number" name="system.attacks.melee.base" value="{{system.attacks.melee.base}}"
                         disabled="disabled">
                  <input type="number" name="system.attacks.melee.divers" value="{{system.attacks.melee.divers}}">
                  <span class="rollable" data-roll="" data-label="{{melee}}">{{numberFormat system.attacks.melee.total decimals=0}}</span>
                </div>
                <div class="flexrow flex-group-center">
                  <label class="rollable flexlarge align-left"> {{localize 'arranFoundry.range_attack'}}</label>
                  <input type="number" name="system.attacks.range.base" value="{{system.attacks.range.base}}"
                         disabled="disabled">
                  <input type="number" name="system.attacks.range.divers" value="{{system.attacks.range.divers}}">
                  <span class="rollable" data-roll="" data-label="{{melee}}">{{numberFormat system.attacks.range.total decimals=0}}</span>
                </div>
                <div class="flexrow flex-group-center">
                  <label class="rollable flexlarge align-left"> {{localize 'arranFoundry.magic_attack'}}</label>
                  <input type="number" name="system.attacks.magic.base" value="{{system.attacks.magic.base}}"
                         disabled="disabled">
                  <input type="number" name="system.attacks.magic.divers" value="{{system.attacks.magic.divers}}">
                  <span name class="rollable" data-roll="" data-label="{{magic}}">{{numberFormat system.attacks.magic.total decimals=0}}</span>
                </div>
              </div>
            </div>

            <div class="align-center">
              <h2>Defense</h2>
              <div>
                <div class="grid grid-3col flex-group-center">
                  <div class="flexcol">{{localize 'arranFoundry.name'}}</div>
                  <div class="flexcol">Base</div>
                  <div class="flexcol">Total</div>
                </div>
                <div class="grid grid-3col flex-group-center">
                  <label class="flex-col flexlarge align-center">Defense</label>
                  <input type="number" name="system.defense.base" value="{{system.defense.base}}" disabled>
                  <input type="number" name="system.defense.total" value="{{system.defense.total}}">
                </div>
              </div>
            </div>
          </div>

          <aside class="sidebar flex-group-right">
            <h2 style="text-align: center">{{localize 'arranFoundry.ui.battle_ressources'}}</h2>
            <div class="grid grid-4col flex-group-center">
              <label class="flex-col flexlarge align-center"> Initiative</label>
              <input type="number" name="system.initiative.base" value="{{system.initiative.base}}" disabled>
              <input type="number" name="system.initiative.divers" value="{{system.initiative.divers}}">
              <input type="number" name="system.initiative.total" value="{{system.initiative.total}}" disabled>
            </div>
          </aside>
        </section>
      </div>
    </div>

    {{!-- Biography Tab --}}
    <div class="tab biography" data-group="primary" data-tab="description">
      {{!-- If you want TinyMCE editors to output inline rolls when rendered, you need to pass the actor's roll data to the rollData property. --}}
      {{editor system.history target="system.history" button=true owner=owner editable=editable}}
    </div>

    <div class="tab" data-group="primary" data-tab="paths">
      {{> "systems/arranFoundry/templates/actor/parts/actor-paths.html"}}
    </div>

    {{!-- Owned Items Tab --}}
    <div class="tab items" data-group="primary" data-tab="equipment">
      {{> "systems/arranFoundry/templates/actor/parts/actor-equipment.html"}}
    </div>

    {{!-- Active Effects Tab --}}
    <div class="tab effects flexcol" data-group="primary" data-tab="effects">
      {{> "systems/arranFoundry/templates/actor/parts/actor-effects.html"}}
    </div>

  </section>
</form>

