{{!-- This template is a fallback for when items don't have more specific templates. --}}
{{!-- Generally, you'll want to make more specific templates when possible. --}}
<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="{{localize 'arranFoundry.name'}}"/></h1>
        </div>
    </header>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        <div>
            {{localize "arranFoundry.damage"}}
            <input type="text" name="system.damage" value="{{system.damage}}">
        </div>
        <div>Mod.
            <input type="text" name="system.mod" value="{{system.mod}}">
        </div>
        <div>
            {{localize "arranFoundry.attack_type"}}
            <input type="text" name="system.attack_type" value="{{system.attack_type}}">
        </div>
        <button id="attack_button" data-roll="{{system.damage}}" data-label="attack" data-mod="{{system.mod}}">{{localize 'arranFoundry.attack'}}</button>
    </section>
</form>
