{{!-- This template is a fallback for when items don't have more specific templates. --}}
{{!-- Generally, you'll want to make more specific templates when possible. --}}
<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="{{localize 'arranFoundry.name'}}"/></h1>
        </div>
    </header>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        <select name="path_type">
            {{#each path_type}}
            {{#if (eq @key ../system.path_type)}}
            <option value="{{@key}}" selected="selected">{{localize this}}</option>
            {{else}}
            <option value="{{@key}}">{{localize this}}</option>
            {{/if}}
            {{/each}}
        </select>
        {{#each system.skills}}
        <div>
            <div class="flex-group-left" style="display: flex;">
                <input name="skill_isAcquired" type="checkbox" {{#if this.isAcquired}}checked="" {{/if}}>
                <h2>{{this.level}}. </h2> <input name="skill_name" type="text" value='{{this.name}}' placeholder="{{localize 'arranFoundry.Sk_name'}}" data-dtype="String"/>
            </div>
            <textarea name="skill_description" rows="5" cols="50" placeholder="{{localize 'arranFoundry.Sk_description'}}">{{this.description}}</textarea>
        </div>
        {{/each}}
    </section>
</form>
