<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="{{localize 'arranFoundry.name'}}"/></h1>
        </div>
    </header>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        <div>
            <h4>{{localize "arranFoundry.Sp_cost"}}</h4>
            <input type="number" name="system.cost" value="{{system.cost}}">
        </div>
        <div>
            <h4>{{localize "arranFoundry.action_type"}}</h4>
            <input name="system.action_type" type="text" value="{{system.action_type}}">
        </div>
        <div>
            <h4>{{localize "arranFoundry.description"}}</h4>
            <textarea name="system.description">{{system.description}}</textarea>
        </div>

    </section>
</form>
